.feather {
  width: 21px;
  height: 30px;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
	margin-left: 5px;
	margin-right: 5px;
}

.status
{
  width: 5vw;
  height: 20px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
}

.btn_controll
{
  width:100%;
  margin-bottom: 5px;
	background-color: gray;
	border-radius: 2px;
	border-color: gray;
}

#top-infoarea
{
	display: inline-flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 30px;
  padding-top:2px;
  padding-left: max(10px, env(safe-area-inset-left));
  padding-right: max(10px, env(safe-area-inset-right));
  background-color: rgba(255, 255, 255, 0.1);
	align-items: center;
}

#container-videostream
{
  position: fixed;
  top:0px;
  left:0px;
  width: 100vw;
  height: 100vh;

  background-image: url("http://10.0.0.196/?action=stream");
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-position: 50% 80%;
}

#img-videostream
{
  height: 100vh;
}

#buttoncontrol
{
  display: none;
}

#battval
{

	display: : inline;
	position: relative;
	color: white;
	height: 30px;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin: 0px 10px 0px 5px;
	line-height: 30px;
	font-weight: 800;
}


#debugOut
{
	position: fixed;
	bottom: 0;
	height: 30px;
	width: 100vw;
	border-color: red;
	border-width: 1px;
	border-style: solid;
}


#touchControlCanvas
{
	position: fixed;
	top:0px;
	left:0px;
	width: 100vw;
	height: 100vh;
}



@media (orientation: portrait) {
  #container-videostream
  {
    height: 33vh;
  }

  #container-videostream
  {
    background-size: cover;
  }

	#buttoncontrol
	{
	  display: block;
		top: 33vh;
		position: absolute;
	}

	#touchControlCanvas
	{
		display: none;
	}
}
