.feather {
  width: 21px;
  height: 30px;
  stroke: #aaaaaa;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.status
{
  width: 5vw;
  height: 20px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
}

.btn_controll
{
  width:100%;
  margin-bottom: 5px;
	background-color: gray;
	border-radius: 2px;
	border-color: gray;
}

#top-infoarea
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 30px;
  padding-top:2px;
  padding-left: max(10px, env(safe-area-inset-left));
  padding-right: max(10px, env(safe-area-inset-right));
  background-color: rgba(255, 255, 255, 0.1);
}

#container-videostream
{
  position: fixed;
  top:0px;
  left:0px;
  width: 100vw;
  height: 100vh;

  background-image: url("http://10.0.0.196/?action=stream");
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-position: 50% 80%;
}

#img-videostream
{
  height: 100vh;
}

#buttoncontrol
{
  display: none;
}

#battval
{

	display: : inline;
	position: relative;
	color: #aaa;
	vertical-align: middle;
	height: 30px;
}


@media (orientation: portrait) {
  #container-videostream
  {
    height: 33vh;
  }

  #container-videostream
  {
    background-size: cover;
  }

	#buttoncontrol
	{
	  display: block;
		top: 33vh;
		position: absolute;
	}
}
